<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="com.prezi.gradle.pride.cli.LogbackHighThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>%level: %msg%n</pattern>
		</encoder>
	</appender>
	<!-- turn OFF all logging (children can override) -->
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="STDERR"/>
	</root>
	<logger name="org.gradle" level="WARN"/>
</configuration>
